@font-face {
                                
	font-family: TestSignifier;
                                
	font-display: swap;
                                
	src: url("../fonts/TestSignifier-Light.woff2") format("woff2"), url("../fonts/TestSignifier-Light.woff") format("woff");
                                
	font-weight: 300;
                                
	font-style: normal;

                            }
@font-face {
                                
	font-family: TestSignifier;
                                
	font-display: swap;
                                
	src: url("../fonts/TestSignifier-LightItalic.woff2") format("woff2"), url("../fonts/TestSignifier-LightItalic.woff") format("woff");
                                
	font-weight: 300;
                                
	font-style: italic;

                            }
