@import 'global/vars';

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #171D97;
        opacity: 0.3;
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: linear-gradient(0deg, rgba(14, 20, 36, 0.7) 0%, rgba(14, 20, 36, 0) 18.38%);
    }
    .container{
        position: relative;
        z-index: 3;
    }
    &__subtitle{
        text-align: center;
        margin-top: 10px;
        font-size: 28px;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    &__scroll{
        position: absolute;
        bottom: 51px;
        left: 50%;
        transform: translatex(-50%);
        text-align: center;
        z-index: 4;
        span{
            display: block;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
        }
    }
}

