// titles vars

$h1: 52px;
$h1Lap: 52px;
$h1Mob: 32px;
// =====================================================================
$h2: 42px;
$h2Lap: 42px;
$h2Mob: 26px;
// =====================================================================
$h3: 32px;
$h3Lap: 32px;
$h3Mob: 20px;
// =====================================================================
$h4: 28px;
$h4Lap: 24px;
$h4Mob: 18px;
// =====================================================================

//  text vars
$desktopFontSize: 15px;
$laptopFontSize: 14px;
$mobileFontSize: 14px;
// =====================================================================

// color vars
$textColor:  #060D37;
$primary: #0A32E4;
$primaryLight: #4359FB;
$primaryDark: #171D97;
$orange: #DF2933;
$gray: #82869B;
$grey: #F9F9F9;
$grey2: #F8F9FE;
// =====================================================================

// fonts vars
$mainFont: 'Lato', sans-serif;
$titlesFont: TestSignifier, sans-serif;
// =====================================================================

// container vars
$containerWidth: 1500px;
$containerPadding: 15px;
$containerWidthLaptop: 1200px;
// =====================================================================
